*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

#productcard{
    height: 250px;
    width: 550px;
    border: 2px solid black;
    display: flex;
}
#productcard>aside{
height: 100%;
}
#productcard> .leftside{
    width: 30%;
    background-color: rgb(255, 255, 255)0;
}

#productcard> .leftside> img{
    height: 80%;
    width: 100%;
    /* border: 2px solid green; */
    object-fit: contain;
}

#productcard>.leftside>div{
    /* border: 2px solid black; */
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;

}
#productcard>.leftside>div>label{
    font-size: 10px;
    /* border: 2px solid black; */
    margin-bottom: 5px;
    margin-left: 5px;
}
#productcard>.leftside>div>label:hover{
    font-weight: 700;
    cursor: pointer;
}
#productcard .rightside{
    width: 70%;
    background-color: white;
    padding: 10px;
}
#productcard .rightside>p{
    font-size: 10px;
    font-weight: 500;
    color: gray;
}
#productcard .rightside>p>span{
    background-color: rgb(12, 170, 12);
    padding:  2px 5px;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin-right: 5px;
}
#productcard:hover #producttitle{
    color: rgb(15, 56, 192);
}