*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#box1{
    height: 100px;
    width: 100px;
    background-color: gold;

}
#box2{
height: 100vh;
width: 50vw;
background-color: yellow;
}

main{
    height: 300px;
    width:  300px;
    background-color: rgb(235, 114, 235);
}
/* %: use child parent relationship */
main>div{
    height: 50%;
    width: 50%;
    background-color: aqua;
}

article{
    height: 1em;
    width: 1em;
    font-size: 100px;
    background-color: chartreuse;
}

footer{
    height: 1rem;
    width: 1rem;
    background-color: rgb(29, 48, 218);
}

html{
    font-size: 16px;
}