*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}
#box{
    height: 200px;
    width: 200px;
    background-color: rgb(100, 100, 100);
    margin: 100px auto;
    transform: rotate(45deg);
    /* box-shadow: x y blur color; */
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    
}